$night-theme1: #fefcfb;
$night-theme2: #1282a2;
$night-theme3: #034078;
$night-theme4: #001f54;
$night-theme5: #0a1128;
$night-theme6: #17c3b2;

// $night-theme1: #fefcfb;
// $night-theme2: #5bc0be;
// $night-theme3: #3a506b;
// $night-theme4: #1c2541;
// $night-theme5: #0b132b;
// $night-theme6: #6fffe9;

// $night-theme1: #fefcfb;
// $night-theme2: #63b4d1;
// $night-theme3: #7699d4;
// $night-theme4: #9448bc;
// $night-theme5: #480355;
// $night-theme6: #90fcf9;

$day-theme1:#fef9ef;
$day-theme2:#fe6d73;
$day-theme3:#ffcb77;
$day-theme4:#17c3b2;
$day-theme5:#227c9d;
$day-theme6: #034078;

// $day-theme1:#caf0f8;
// $day-theme2:#ade8f4;
// $day-theme3:#90e0ef;
// $day-theme4:#48cae4;
// $day-theme5:#00b4d8;
// $day-theme6: #0096c7;

// $day-theme1:#eac4d5;
// $day-theme2:#d6eadf;
// $day-theme3:#b8e0d2;
// $day-theme4:#95b8d1;
// $day-theme5:#809bce;
// $day-theme6: #627cac;



// fonts
@mixin gothic {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  