@use './variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;





.App {
  /* text-align: center; */
  min-height: 100vh;
}

.card {
  width: 80vw;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  /* margin-bottom: 5px; */
  position: relative;
}

.nightCard {
  border: 2px solid white;
}

.dayCard {
  border: 2px solid black;
}

.border {
  border: 2px solid black;
  border-radius: 5px;
}

.nav-day {
  border-bottom: 2px solid black;
}

.nav-night {
  border-bottom: 2px solid white;
}

.footer-day{
  border-top: 2px solid black;
}

.footer-night{
  border-top: 2px solid white;
}

.icon {
  /* fill: yellow; */
  /* width: 40px; */
  /* right: 20px;
  top: 7px;
  position: absolute; */
}

.iconButton {
  position: absolute;
  right: 15px;
}

.nightTheme5 {
  background-color: variables.$night-theme5;
}

.nightTheme4 {
  background-color: variables.$night-theme4;
}

.nightTheme3 {
  background-color: variables.$night-theme3;
}

.nightTheme2 {
  background-color: variables.$night-theme2;
}

.nightTheme1 {
  background-color: variables.$night-theme1;
}

.dayTheme5 {
  background-color: variables.$day-theme5;
}

.dayTheme4 {
  background-color: variables.$day-theme4;
}

.dayTheme3 {
  background-color: variables.$day-theme3;
}

.dayTheme2 {
  background-color: variables.$day-theme2;
}

.dayTheme1 {
  background-color: variables.$day-theme1;
}

.day-button {
  background-color: variables.$day-theme4;
  color: black;
  border: 2px solid black;
}

.day-button:hover {
  color: white;
  background-color: variables.$day-theme5;
}

.night-button {
  border: 2px solid white;
  background-color: variables.$night-theme3;
  color: white;
}

.night-button:hover {
  background-color: variables.$night-theme6;
  color: black;
}

.input-day::placeholder {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  transition: all;
  transition-duration: 500ms;
}

.input-day {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  border: 2px solid black;
  transition: all;
  transition-duration: 500ms;
}

.input-night {
  color: white;
  background-color: variables.$night-theme2;
  border: 2px solid white;
  transition: all;
  transition-duration: 500ms;
}

.input-night::placeholder {
  color: white;
  background-color: variables.$night-theme2;
  transition: all;
  transition-duration: 500ms;
}

.nav-title{
  @include variables.poetsen;
  font-size: 2em;
}

.night-text{
  color: variables.$night-theme1;
}

.day-text{
  color: variables.$day-theme6;
}

.habit-name{
  @include variables.poetsen;
  font-size: 2em;
}

.link{
  text-decoration: underline;
  // color: $
}

.habit-fade-out {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  will-change: opacity, transform;
}
