@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  /* text-align: center; */
}

.card {
  border: 2px solid black;
  width: 50vw;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  /* margin-bottom: 5px; */
  position: relative;
}

.border {
  border: 2px solid black;
  border-radius: 5x;
}

.nav {
  border-bottom: 2px solid black;
}
