/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@use './variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ANIMATIONS */
/* Fade-in animation */
.fade-in {
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.animate-pulse {
  -webkit-animation: pulse 0.4s ease-in-out;
          animation: pulse 0.4s ease-in-out;
}

.habit-fade-in {
  -webkit-animation: fadeInScale 0.6s ease-in-out;
          animation: fadeInScale 0.6s ease-in-out;
}

/* Keyframes for the fade-in effect */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes floatUp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(20px);
            transform: translateX(-50%) translateY(20px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-20px);
            transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}
@keyframes floatUp {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(20px);
            transform: translateX(-50%) translateY(20px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-20px);
            transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
}

@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes pulse {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}


/* STYLES */

.App {
  min-height: 100vh;
  position: relative;
  padding-bottom: 70px;
  @include variables.poetsen;
}

.card {
  width: 80vw;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
}

.habit-card{
  border-radius: 20px;
  margin-bottom: 20px;
}

.nightCard {
  border: 2px solid white;
}

.dayCard {
  border: 2px solid black;
}

.border {
  border: 2px solid black;
  border-radius: 5px;
}

.nav-day {
  border-bottom: 2px solid black;
}

.nav-night {
  border-bottom: 2px solid white;
}


.footer-day{
  border-top: 2px solid black;
}

.footer-night{
  border-top: 2px solid white;
}

.iconButton {
  position: absolute;
  right: 15px;
  top: 15px;
  @media (max-width: 768px) {
    right: 10px;
    top: 4px;
  }
}

.nightTheme5 {
  background-color: variables.$night-theme5;
}

.nightTheme4 {
  background-color: variables.$night-theme4;
}

.nightTheme3 {
  background-color: variables.$night-theme3;
}

.nightTheme2 {
  background-color: variables.$night-theme2;
}

.nightTheme1 {
  background-color: variables.$night-theme1;
}

.dayTheme5 {
  background-color: variables.$day-theme5;
}

.dayTheme4 {
  background-color: variables.$day-theme4;
}

.dayTheme3 {
  background-color: variables.$day-theme3;
}

.dayTheme2 {
  background-color: variables.$day-theme2;
}

.dayTheme1 {
  background-color: variables.$day-theme1;
}

.day-button {
  background-color: variables.$day-theme4;
  color: black;
  border: 2px solid black;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

.day-button:hover {
  color: white;
  background-color: variables.$day-theme5;
}

.night-button {
  border: 2px solid white;
  background-color: variables.$night-theme3;
  color: white;
}


.night-button:hover {
  background-color: variables.$night-theme6;
  color: black;
}

.input-day::-webkit-input-placeholder {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.input-day::-moz-placeholder {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  -moz-transition: all;
  transition: all;
  transition-duration: 500ms;
}

.input-day:-ms-input-placeholder {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  -ms-transition: all;
  transition: all;
  transition-duration: 500ms;
}

.input-day::-ms-input-placeholder {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  -ms-transition: all;
  transition: all;
  transition-duration: 500ms;
}

.input-day::placeholder {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

.input-day {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  border: 2px solid black;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

.input-night {
  color: white;
  background-color: variables.$night-theme6;
  border: 2px solid white;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

.input-night::-webkit-input-placeholder {
  color: white;
  background-color: variables.$night-theme6;
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.input-night::-moz-placeholder {
  color: white;
  background-color: variables.$night-theme6;
  -moz-transition: all;
  transition: all;
  transition-duration: 500ms;
}

.input-night:-ms-input-placeholder {
  color: white;
  background-color: variables.$night-theme6;
  -ms-transition: all;
  transition: all;
  transition-duration: 500ms;
}

.input-night::-ms-input-placeholder {
  color: white;
  background-color: variables.$night-theme6;
  -ms-transition: all;
  transition: all;
  transition-duration: 500ms;
}

.input-night::placeholder {
  color: white;
  background-color: variables.$night-theme6;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

.nav-title{
  @include variables.poetsen;
  font-size: 2em;
  @media (max-width: 768px) {
    font-size: 0.9em;
  }
}

.night-text{
  color: variables.$night-theme1;
}

.day-text{
  color: variables.$day-theme6;
}

.habit-name{
  @include variables.poetsen;
  font-size: 3em;
  margin: 20px 30px 10px 30px;
  padding-bottom: 20px;
  word-wrap: break-word;
  @media (max-width: 768px) {
    font-size: 1.6em;
    margin: 10px 30px 0px 30px;
    padding-bottom: 5px;
  }
}

.link{
  text-decoration: underline;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.habit-fade-out {
  opacity: 0;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: opacity 500ms ease-out, -webkit-transform 500ms ease-out;
  transition: opacity 500ms ease-out, -webkit-transform 500ms ease-out;
  -o-transition: opacity 500ms ease-out, transform 500ms ease-out;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  transition: opacity 500ms ease-out, transform 500ms ease-out, -webkit-transform 500ms ease-out;
  will-change: opacity, transform;
}

.floating-message {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  -webkit-animation: floatUp 2s ease-in-out forwards;
          animation: floatUp 2s ease-in-out forwards;
}

.floating-message-day{
  background-color: variables.$day-theme2;
}

.floating-message-night{
  background-color: variables.$night-theme3;
}

.month-label-day{
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 500;
       -o-transition-duration: 500;
          transition-duration: 500;
  fill: black !important;
}

.month-label-night{
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 500;
       -o-transition-duration: 500;
          transition-duration: 500;
  fill: white !important;
}

.deleteHabit {
  position: absolute !important;
  top: 0.5rem !important;
  right: 0.5rem !important;
  z-index: 10 !important;
  background-color: rgba(0,0,0, 0) !important;
  -webkit-transition: all !important;
  -o-transition: all !important;
  transition: all !important;
  -webkit-transition-duration: 200ms !important;
       -o-transition-duration: 200ms !important;
          transition-duration: 200ms !important;
  scale: 1;
  @media (max-width: 768px) {
    right: -5px !important;
  }
}

.deleteHabit-hover:hover{
  -webkit-transition: all !important;
  -o-transition: all !important;
  transition: all !important;
  -webkit-transition-duration: 200ms !important;
       -o-transition-duration: 200ms !important;
          transition-duration: 200ms !important;
  scale: 1.2;
}

.deleteHabit-night:hover{
  background-color: rgba(255,255,255, 0.2) !important;
}

.deleteHabit-day:hover{
  background-color: rgba(254, 109, 115, 0.2) !important;
}

.icon-day {
    fill: variables.$day-theme2 !important;
}

.icon-night {
  fill: variables.$night-theme1 !important;
}

.button{
  -webkit-transition: all !important;
  -o-transition: all !important;
  transition: all !important;
  -webkit-transition-duration: 200ms !important;
       -o-transition-duration: 200ms !important;
          transition-duration: 200ms !important;
  scale: 1;
}

.button-hover:hover{
  -webkit-transition: all !important;
  -o-transition: all !important;
  transition: all !important;
  -webkit-transition-duration: 200ms !important;
       -o-transition-duration: 200ms !important;
          transition-duration: 200ms !important;
  scale: 1.08;
  -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
          box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.button:active{
  scale: 1;
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
          box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
          @media (max-width: 768px) {
            -webkit-box-shadow: none;
          box-shadow: none;
          scale: 0.95 !important;
          }
}

.react-calendar-heatmap{
  padding: 12px !important;
  @media (max-width: 768px) {
    padding: 5px !important;
  }
}

rect{
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.tooltip-show{
  display: inline;;
}

.tooltip-hide{
  display: none;
}


.streak-text{
  font-size: 1.2em;
}

