@use './variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;



// html, body {
//   min-height: 100vh;
//   // margin: 0;
//   // display: flex;
//   // flex-direction: column;
// }

.App {
  /* text-align: center; */
  min-height: 100vh;
  position: relative;
  // flex: 1;
  padding-bottom: 70px;
  @include variables.poetsen;
}

.card {
  width: 80vw;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  /* margin-bottom: 5px; */
  position: relative;
}

.nightCard {
  border: 2px solid white;
}

.dayCard {
  border: 2px solid black;
}

.border {
  border: 2px solid black;
  border-radius: 5px;
}

.nav-day {
  border-bottom: 2px solid black;
}

.nav-night {
  border-bottom: 2px solid white;
}

.footer-day{
  border-top: 2px solid black;
}

.footer-night{
  border-top: 2px solid white;
}

.icon {
  /* fill: yellow; */
  /* width: 40px; */
  /* right: 20px;
  top: 7px;
  position: absolute; */
}

.iconButton {
  position: absolute;
  right: 15px;
}

.nightTheme5 {
  background-color: variables.$night-theme5;
}

.nightTheme4 {
  background-color: variables.$night-theme4;
}

.nightTheme3 {
  background-color: variables.$night-theme3;
}

.nightTheme2 {
  background-color: variables.$night-theme2;
}

.nightTheme1 {
  background-color: variables.$night-theme1;
}

.dayTheme5 {
  background-color: variables.$day-theme5;
}

.dayTheme4 {
  background-color: variables.$day-theme4;
}

.dayTheme3 {
  background-color: variables.$day-theme3;
}

.dayTheme2 {
  background-color: variables.$day-theme2;
}

.dayTheme1 {
  background-color: variables.$day-theme1;
}

.day-button {
  background-color: variables.$day-theme4;
  color: black;
  border: 2px solid black;
  transition: all;
  transition-duration: 500ms;
  
}

.day-button:hover {
  color: white;
  background-color: variables.$day-theme5;
}

.night-button {
  border: 2px solid white;
  background-color: variables.$night-theme3;
  color: white;
}

.day-button:active {
  // background-color: variables.$day-theme4;
  // scale: 1; 
  // transition: all;
  // transition-duration: 500ms;
}


.night-button:hover {
  background-color: variables.$night-theme6;
  color: black;
}

.input-day::placeholder {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  transition: all;
  transition-duration: 500ms;
}

.input-day {
  background-color: white;
  color: variables.$day-theme6;
  opacity: 1;
  border: 2px solid black;
  transition: all;
  transition-duration: 500ms;
}

.input-night {
  color: white;
  background-color: variables.$night-theme6;
  border: 2px solid white;
  transition: all;
  transition-duration: 500ms;
}

.input-night::placeholder {
  color: white;
  background-color: variables.$night-theme6;
  transition: all;
  transition-duration: 500ms;
}

.nav-title{
  @include variables.poetsen;
  font-size: 2em;
  @media (max-width: 768px) {
    font-size: 1.2em;
  }
}

.night-text{
  color: variables.$night-theme1;
}

.day-text{
  color: variables.$day-theme6;
}

.habit-name{
  @include variables.poetsen;
  font-size: 2em;
}

.link{
  text-decoration: underline;
  // color: $
}

.show-habits{
  // min-height: 100%;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  // padding-bottom: 20px;
}

.habit-fade-out {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  will-change: opacity, transform;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-pulse {
  animation: pulse 0.4s ease-in-out;
}


.floating-message {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  animation: floatUp 2s ease-in-out forwards;
}

.floating-message-day{
  background-color: variables.$day-theme2;
}

.floating-message-night{
  background-color: variables.$night-theme3;
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }
}

/* Fade-in animation */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Keyframes for the fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.habit-fade-in {
  animation: fadeInScale 0.6s ease-in-out;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.react-calendar-heatmap-cell {
  position: relative;
  display: inline-block;
}

.react-calendar-heatmap-cell::after {
  content: attr(data-tooltip); /* Pull content from the data-tooltip attribute */
  position: absolute;
  bottom: 100%; /* Place the tooltip above the cell */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Fine-tune the centering */
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  visibility: hidden; /* Initially hidden */
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.react-calendar-heatmap-cell:hover::after {
  visibility: visible; /* Tooltip becomes visible on hover */
  opacity: 1; /* Fade in */
}

.month-label-day{
  transition: all;
  transition-duration: 500;
  fill: black !important;
}

.month-label-night{
  transition: all;
  transition-duration: 500;
  fill: white !important;
}

.deleteHabit {
  position: absolute !important;
  top: 0.5rem !important;
  right: 0.5rem !important;
  z-index: 10 !important;
  // padding: 10px;
  background-color: rgba(0,0,0, 0) !important;
  transition: all !important;
  transition-duration: 200ms !important;
  scale: 1
  
}

.deleteHabit-hover:hover{
  transition: all !important;
  transition-duration: 200ms !important;
  scale: 1.2;
}

.deleteHabit-night:hover{
  background-color: rgba(255,255,255, 0.2) !important;
}

.deleteHabit-day:hover{
  background-color: rgba(254, 109, 115, 0.2) !important;
}

.icon-day {
    fill: variables.$day-theme2 !important;
}

.icon-night {
  fill: variables.$night-theme1 !important;
}

.icon:hover{
  // border-radius: 50% !important;
  
}

.button{
  transition: all !important;
  transition-duration: 200ms !important;
  scale: 1;
}

.button-hover:hover{
  transition: all !important;
  transition-duration: 200ms !important;
  scale: 1.08;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}

.button:active{
  scale: 1;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.react-calendar-heatmap{
  padding: 12px !important;
  
}

rect{
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

 .tooltiptext {
  visibility: visible;
}