.color-empty {
  fill: #eeeeee;
}
.color-scale-1 {
  fill: #d6e685;
}
.color-scale-2 {
  fill: #8cc665;
}
.color-scale-3 {
  fill: #44a340;
}
.color-scale-4 {
  fill: #1e6823;
}

/* .color-scale-1 {
  fill: #80ffdb;
}
.color-scale-2 {
  fill: #72efdd;
}
.color-scale-3 {
  fill: #64dfdf;
}
.color-scale-4 {
  fill: #56cfe1;
}
.color-scale-5 {
  fill: #48bfe3;
}
.color-scale-6 {
  fill: #4ea8de;
}
.color-scale-7 {
  fill: #5390d9;
}
.color-scale-8 {
  fill: #5e60ce;
}
.color-scale-9 {
  fill: #6930c3;
}
.color-scale-10 {
  fill: #7400b8;
} */

/* .color-scale-1 {
  fill: #ffba08;
}
.color-scale-2 {
  fill: #faa307;
}
.color-scale-3 {
  fill: #f48c06;
}
.color-scale-4 {
  fill: #e85d04;
}
.color-scale-5 {
  fill: #dc2f02;
}
.color-scale-6 {
  fill: #d00000;
}
.color-scale-7 {
  fill: #9d0208;
}
.color-scale-8 {
  fill: #6a040f;
}
.color-scale-9 {
  fill: #370617;
}
.color-scale-10 {
  fill: #03071e;
} */

.border-square {
  stroke: #fff;
  stroke-width: 1px;
}

svg.react-calendar-heatmap {
  display: inline;
  padding-top: 20px;
}

.square {
  height: 20px;
  width: 20px;
  /* background-color: red; */
}

.color-square-empty {
  background-color: #eeeeee;
}
.color-square-1 {
  background-color: #d6e685;
}
.color-square-2 {
  background-color: #8cc665;
}
.color-square-3 {
  background-color: #44a340;
}
.color-square-4 {
  background-color: #1e6823;
}
.border-square {
  stroke: #fff;
  stroke-width: 1px;
}

.inlineUL li {
  display: inline-block;
  margin-right: 3px; /* To add some space between items */
  width: 20px; /* Just to make the square visible */
  height: 20px; /* Just to make the square visible */
}

.inlineUL {
  /* top: 10px; */
  /* position: relative; */
  margin-right: 50px;
}
.less {
  margin-right: 20px !important;
}

.habitName {
  margin: 0 auto !important;
  position: relative !important;
}
